.btn-large {
  min-height: 62px !important;
}

.btn-medium {
  min-height: 46px !important;
}

.btn-medium-large-small {
  min-height: 40px !important;
}

.btn-medium-small {
  min-height: 38px !important;
}

.btn-small {
  min-height: 34px !important;
}

.btn-extra-small {
  min-height: 32px !important;
}

.btn-medium-extra-small {
  min-height: 26px !important;
}

.btn-super-extra-small {
  min-height: 18px !important;
}

.no-hoverable:hover,
.no-hoverable:focus,
.no-hoverable:active {
  & > .q-focus-helper {
    display: none;
  }
}

.q-btn--outline:before {
  border-width: 2px;
}
