.q-select,
.q-input,
.q-textarea {
  & .q-field__native {
    color: $white !important;

    &::placeholder {
      color: $half-transparent-white !important;
    }
  }

  & .q-field__control {
    height: 70px;
    padding-left: 33px;
    padding-right: 31px;

    & .q-field__marginal {
      height: 100%;
    }
  }

  &.medium {
    & .q-field__control {
      height: 40px;
      padding-left: 28px;
      padding-right: 20px;
    }
  }

  &.medium-large {
    & .q-field__control {
      min-height: 51px;
      height: 51px;
      padding-left: 19px;
      padding-right: 19px;
    }

    & .q-field__native {
      min-height: 51px;
    }
  }

  &.large {
    & .q-field__control {
      height: 56px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &.extra-large {
    & .q-field__control {
      height: 62px;
      padding-left: 25px;
      padding-right: 28px;
    }
  }
}

.q-textarea .q-field__native {
  resize: none;
}

.q-field--standout.q-field--highlighted .q-field__control {
  box-shadow: none;
}

.q-field--standout.q-field--highlighted .q-field__native {
  color: $accent-5;
}

.q-field--standout .q-field__native {
  color: $accent-5;
}

.q-select__dropdown-icon {
  font-size: 0;
  width: 12px;
  height: 8px;
  background: url('../assets/keyboard-arrow-down.svg') no-repeat center;
  background-size: contain;
}

.q-select {
  &.white {
    .q-select__dropdown-icon {
      background: url('../assets/keyboard-arrow-down-white.svg') no-repeat center;
    }
  }
}

.quantity-input {
  & .q-field__native {
    font-size: 32px;
    line-height: 40px;
  }

  & .q-field__prepend {
    min-width: unset;
  }
}

.q-checkbox {
  &.q-checkbox--dark {
    & .q-checkbox__bg {
      background: $white;
      border-color: $white;
      border-radius: 6px;
    }

    & .q-checkbox__svg {
      color: $primary;
    }

    & .q-checkbox__label {
      color: $white;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      margin-left: 6px;
    }
  }
}

.q-radio {
  & .q-radio__label {
    color: $white;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  & .q-radio__bg path:first-of-type {
    color: $accent-3;
  }
}
