body,
.scroll {
  overflow: overlay;

  &::-webkit-scrollbar {
    width: 21px;
  }

  &::-webkit-scrollbar-track {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 0;
    background-color: $secondary;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $transparent-white;
    border-style: solid;
    border-color: transparent;
    border-width: 7px;
    background-clip: padding-box;
  }

  &--transparent {
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}
